[Unit]
Description=WebSocket LLM Service
After=network.target

[Service]
# User=your-user
WorkingDirectory=/opt/llmws/
ExecStart=/bin/bash /opt/llmws/start.sh --mamba
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
